<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="skyline.platform.repository.dao.not_mybatis.MyTHrmNewsAndDeptMapper" >
  <resultMap id="BaseResultMap" type="skyline.platform.repository.model.model_show.MyTHrmNewsAndDept" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="news_img" property="newsImg" jdbcType="VARCHAR" />
    <result column="news_img_flag" property="newsImgFlag" jdbcType="VARCHAR" />
    <result column="news_attachment" property="newsAttachment" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="team_id" property="teamId" jdbcType="VARCHAR" />
    <result column="news_istop" property="newsIstop" jdbcType="CHAR" />
    <result column="news_topTime" property="newsToptime" jdbcType="VARCHAR" />
    <result column="isenable" property="isenable" jdbcType="CHAR" />
    <result column="name_dept" property="nameDept" jdbcType="VARCHAR" />
    <result column="strip_line" property="stripLine" jdbcType="VARCHAR" />
    <result column="news_createdTime" property="newsCreatedtime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="skyline.platform.repository.model.THrmNews" extends="BaseResultMap" >
    <result column="news_content" property="newsContent" jdbcType="LONGVARCHAR" />
  </resultMap>

  <!--首页上的新闻-->
  <select id="getNewsAndDeptForIndex" resultMap="BaseResultMap"  parameterType="skyline.platform.repository.model.model_show.MyTHrmNewsAndDept">
    SELECT *,CONVERT(varchar(100), cast(newscreatedTime as datetime), 23) AS news_createdTime
    FROM
    (
    select
           news.id,
           news.isenable,
           news.model_id,
           news.news_attachment,
           news.news_content,
	       news.news_createdTime AS newscreatedTime,
	       news.news_img,
	       news.news_img_flag,
	       news.news_title,
	       news.news_topTime,
	       news.team_id,
	       news.news_istop,
           dept.name_dept,
           dept.strip_line ,
    ROW_NUMBER() OVER(partition by strip_line order BY  news_istop DESC,news_topTime DESC,news_createdTime desc) AS rn

    from t_hrm_branch_dept dept,t_hrm_dept_team team ,t_hrm_newsmodel newsmodel ,

    (
      SELECT tnews.id,
             tnews.isenable,
             tnews.model_id,
             tnews.news_attachment,
             tnews.news_content,
             tnews.news_createdTime,
             tnews.news_img,
             tnews.news_img_flag,
             tnews.news_title,
             tnews.news_topTime,
             tnews.team_id,
    CASE WHEN
             tnews.news_topTime &lt; #{nowDate}
    THEN '0'
    ELSE tnews.news_istop END news_istop
    FROM t_hrm_news tnews) news

    where dept.id_dept = team.id_dept and team.id_team = newsmodel.team_id and newsmodel.id=news.model_id

    and dept.strip_line is not null AND news.isenable='1' AND newsmodel.isenable='1'

    ) AS aa WHERE rn &lt;=8

  </select>
  <!--首页上的图片新闻-->
  <select id="getNewsImgForIndex" resultMap="BaseResultMap"  parameterType="skyline.platform.repository.model.model_show.MyTHrmNewsAndDept">
   SELECT TOP(10)* FROM t_hrm_news WHERE news_img !=NULL or news_img !=''  ORDER BY news_createdTime DESC

  </select>


</mapper>